# Core
pandas
numpy
scikit-learn
scipy
pyyaml
python-dotenv
requests
tqdm

# RAG
faiss-cpu
sentence-transformers
rank-bm25
nltk

# DL Forecasting
torch
pytorch-lightning
pytorch-forecasting
torchmetrics
# (pytorch-forecasting pulls pytorch-lightning & others)

# API / App
fastapi
uvicorn[standard]
plotly
openai
jinja2
python-multipart

kaggle
